#map {
    height: 500px;
    background-color: grey;
}

div.col-md-5{
    text-align: center;
}

.panel > .panel-heading {
    background: #761c19;
    color: #dbdbdb;
    size: A4;
    border-color: #761c19;
}

.btn.btn-primary.toggle-on {
    color: #dbdbdb;
    background-color: #761c19;
    border-color: #761c19;
}

#modes{
    align-content: center;
    text-align: center;
}

#battery{
    width:100%;
    align-content: center;
    height: auto;
    margin-top: 2px;
    margin-bottom: 2px;
}

#alpha{
    width:100%;
    align-content: center;
    height: auto;
}

#b1soc.caption{
   font-size: 18px;
    text-align: center;

}

.bootstrap-select.btn-group .dropdown-menu li a{
    padding-top: 2px;
    padding-bottom: 2px;
}

.form-horizontal .control-label{
    text-align: left;
}

.panel-heading{
    text-align: left;
    font-size: medium;
}

div.col-md-6{
    text-align: center;
    margin-top: 5px;
}

div.col-md-6 img {
    width:100%;
    height: 50px;
    margin-top: 3px;
    margin-bottom: 3px;
}


.container{
    margin-top: 50px;
    padding-top: 15px;
}